html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  cursor: pointer;
}
/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
input:-webkit-internal-autofill-selected {
  border: none;
  background-color: -internal-light-dark(rgba(178, 189, 209, 0), rgba(70, 90, 126, 0.4));
  border-bottom: 2px solid white;

  -webkit-text-fill-color: white;
}
:root {
  --button-color: #f5f1e3;
  --accent-color: #9ad5a8;
  --dark-main-color: #07383c;
  --border-radius: 10px;
  --paragraph-weight: 300;
  --heading-weight: 500;
  --mobile-heading-size: 1.8rem;
  --mobile-paragraph-size: 1.1rem;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  --paragraph-font-family: 'Fira Sans Condensed', sans-serif;
  --paragraph-color: #4b4b4b;
  letter-spacing: 0.6px;
  --card-heading-mobile: 1.4rem;
  --card-subheading-mobile: 1.15rem;
  --card-paragraph-mobile: 1rem;
}
@-webkit-keyframes bounce {
  50% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  50% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-20px);
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  75% {
    opacity: 0.75;
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  75% {
    opacity: 0.75;
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes grow {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes grow {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.slide-left {
  -webkit-transform: translateX(1000px);
  -ms-transform: translateX(1000px);
  transform: translateX(1000px);
}
.slide-right {
  -webkit-transform: translateX(-1000px);
  -ms-transform: translateX(-1000px);
  transform: translateX(-1000px);
}

.disappear {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
html {
  width: 100vw;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}
nav {
  display: flex;
  gap: 10px;
  align-self: flex-end;
  margin-right: 20px;
}
nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 10px;
  background-color: var(--button-color);
  border-radius: var(--border-radius);
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.25);
  transition: all 0.1s ease-in-out;
}
nav a:hover {
  transform: scale(1.2);
  cursor: pointer;
}
nav img {
  height: auto;
  width: 25px;
}

.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  background: linear-gradient(#07383c, #9ad5a8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 25px 20px;
  box-sizing: border-box;
  min-height: 450px;
}
.hero-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 245px;
  color: var(--button-color);
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
  line-height: 1.1;
}
.hero-content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.hero-heading {
  font-size: 2.8rem;
  font-weight: bold;
}
.hero-subheading {
  font-size: 1.4rem;
  font-weight: bold;
}
.job-title {
  font-size: 1rem;
  font-weight: bold;
}
.hero-btn {
  width: 155px;
  height: 55px;
  border-radius: var(--border-radius);
  border: none;
  font-size: 0.8rem;
  font-weight: 600;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  align-self: flex-end;
  margin-top: 20px;
  background-color: var(--button-color);
  transition: all 0.1s ease-in-out;
  color: black;
}
.view-work-link {
  align-self: flex-end;
}
.hero-btn:hover {
  transform: scale(1.1);
  background: rgba(255, 0, 0, 0);
  border: 2px solid var(--button-color);
  color: var(--button-color);
}
.scribble {
  padding-bottom: 50px;
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
.text-highlight {
  color: var(--accent-color);
}
main {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #07383c;
}

/* about me section */
.about-me {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 70px 40px;
  box-sizing: border-box;
  gap: 20px;
  background: linear-gradient(#9ad5a8, #f5f1e3);
}
.about-me-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: var(--heading-weight);
  font-size: var(--mobile-heading-size);
}
.about-me-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.about-me-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-weight: var(--paragraph-weight);
  font-size: var(--mobile-paragraph-size);
  line-height: 1.2;
  font-family: var(--paragraph-font-family);
  color: var(--paragraph-color);
}
.line {
  width: 110px;
  height: 1.5px;
  background-color: black;
}
/* skills section */

.languages-i-speak {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--button-color);
  padding: 50px 0px;
  box-sizing: border-box;
  overflow: visible;
  gap: 50px;
}
.languages-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.language-header-txt {
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  -o-transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}
.languages-header img {
  width: 45px;
}
.languages-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(#0a3b3d, #309a87);
  padding: 65px 60px;
  gap: 40px;
  box-sizing: border-box;
  border-radius: 15px;
  overflow: hidden;
  box-sizing: border-box;
  min-width: 200px;
  border: none;
}

.languages-icons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  max-width: 430px;
  /* padding: 20px 20px; */
  box-sizing: border-box;
  /* padding: 0 40px; */
}
.languages-header h2 {
  text-align: center;
  color: var(--button-color);
  font-size: var(--mobile-heading-size);
  font-weight: var(--heading-weight);
}
.icon {
  height: 89px;
  width: 89px;
}
.top-icons,
.lower-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 25px;
  -webkit-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

.slider-selectors {
  display: flex;
  gap: 20px;
}
.selector-line {
  width: 80px;
  height: 4px;
  background-color: white;
  border-radius: 10px;
}

.other-skills {
  max-width: 330px;
  padding: 50px 40px;
}

.skills-header > h2 {
  font-size: var(--mobile-heading-size);
  text-align: center;
}
.skills-header > img {
  width: 60px;
}

.skills-icons {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.experience {
  background-color: var(--button-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 40px 20px;
  gap: 40px;
}

.card-collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 20px;
}
.experience-heading {
  align-self: flex-start;
  font-size: var(--mobile-heading-size);
  font-weight: var(--heading-weight);
}
.experience-card {
  display: flex;
  flex-direction: column;
  max-width: 340px;
  border: 2px solid black;
  border-radius: 15px;
  box-sizing: border-box;
  opacity: 0;
}
.experience-card > img {
  height: auto;
  width: 100%;
}
.card-heading {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.card-heading-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.card-icons img {
  height: 32px;
  width: 32px;
  justify-self: flex-end;
}

.card-icons {
  transition: all 0.2s ease-in-out;
}

.card-icons:hover {
  transform: scale(1.2);
}

.project-title {
  font-size: var(--card-heading-mobile);
  font-weight: var(--heading-weight);
}
.card-subheading {
  font-size: var(--card-subheading-mobile);
}
.project-para {
  font-size: var(--card-paragraph-mobile);
  font-family: var(--paragraph-font-family);
  line-height: 1.2;
  color: var(--paragraph-color);
}
.card-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px;
  box-sizing: border-box;
}
.contact {
  width: 100%;
  padding: 70px 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  gap: 30px;
  background-color: var(--dark-main-color);
  padding-bottom: 80px;
  opacity: 0;
}
.contact > h2 {
  text-align: center;
  font-size: var(--mobile-heading-size);
  font-weight: var(--heading-weight);
  color: var(--button-color);
  max-width: 315px;
}
.contact-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
}

.contact-info input {
  border: none;
  /* border-bottom: 2px solid black; */
  box-shadow: none;
  border-radius: 0px;
  font-size: var(--mobile-paragraph-size);
  font-family: var(--paragraph-font-family);
  outline: none;
  border-bottom: rgb(0, 0, 0) 2px solid;
  background-color: var(--dark-main-color);
  color: var(--button-color);
}
::placeholder {
  color: var(--button-color);
}
textarea::placeholder {
  color: rgb(76, 76, 76);
}
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  align-items: center;
  max-width: 315px;
}
textarea {
  font-size: var(--mobile-paragraph-size);
  font-family: var(--paragraph-font-family);
  width: 100%;
  border-radius: 15px;
  padding: 10px;
  background-color: var(--button-color);
  /* box-sizing: border-box; */
}
.send {
  width: 100%;
  height: 50px;
  border-radius: 15px;
  font-size: var(--mobile-paragraph-size);
  padding: 10px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid var(--button-color);
  color: var(--button-color);
}
.send:hover {
  background-color: var(--button-color);
  color: black;
}
.success {
  background-color: green;
}
.fail {
  background-color: rgb(184, 58, 58);
}
.slant {
  width: 100%;
  height: auto;
}
footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 50px 20px;
  box-sizing: border-box;
  /* flex-direction: column; */
  align-items: center;
  gap: 20px;
  font-size: var(--mobile-paragraph-size);
  font-weight: var(--heading-weight);
}

footer img {
  height: auto;
  width: 25px;
}

footer a {
  transition: all 0.2s ease-in-out;
}

footer a:hover {
  transform: scale(1.2);
}
.footer-icons {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}
.fade-in {
  -webkit-animation: fade-in 1s ease-in-out 0s 1;
  animation: fade-in 1s ease-in-out 0s 1;
  opacity: 1;
}
.grow {
  -webkit-animation: grow 1s ease-in-out 0s 1;
  animation: grow 1s ease-in-out 0s 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
/*  */
@media (max-width: 320px) {
  .languages-card {
    width: 100%;
    min-width: none;
    padding: 50px 50px;
  }
  .languages-header h2 {
    font-size: 25px;
  }
  .other-skills {
    padding: 50px 30px;
  }
}
@media (min-width: 475px) {
  .contact {
    padding-top: 40px;
  }
  .card-icons img {
    margin-right: 10px;
  }
}

@media (min-width: 640px) {
  nav a {
    padding: 10px 15px;
  }
  .hero-text {
    max-width: none;
  }
  .about-me {
    padding: 70px 60px;
  }
  .languages-card {
    padding: 80px 120px;
  }
  .other-skills {
    max-width: 450px;
    padding: 75px 60px;
  }
  .skills-icons {
    padding: 10px;
  }
  .experience {
    padding: 40px 30px;
  }
  .contact {
    padding-top: 20px;
  }
}
@media (min-width: 768px) {
  :root {
    font-size: 17px;
  }
  .about-me {
    padding: 70px 80px;
  }
  .languages-card {
    max-width: 460px;
  }
  .about-me-header {
    max-width: 700px;
  }
  .about-me-text {
    max-width: 700px;
  }
}
@media (min-width: 1024px) {
  :root {
    font-size: 17.5px;
  }
  .languages-i-speak {
    padding: 80px;
    gap: 100px;
    z-index: 1;
  }
  .languages-i-speak > * {
    transform: scale(1.1);
  }
  .about-me {
    padding: 100px;
  }

  .contact > * {
    transform: scale(1.1);
  }
  .contact {
    padding-bottom: 100px;
  }
  textarea {
    width: 400px;
  }
}
@media (min-width: 1120px) {
  .experience-heading {
    margin: 0 auto;
    width: 100%;
    max-width: 1120px;
  }
}
@media (min-width: 1280px) {
  .hero-content {
    transform: scale(1.05);
  }
  nav a {
    padding: 15px 20px;
  }

  .about-me {
    padding: 150px;
  }
  .languages-card {
    padding: 75px 120px;
  }
  .other-skills {
    padding: 75px 90px;
  }
  footer {
    justify-content: center;
    gap: 200px;
  }
}
@media (min-width: 1536px) {
  .hero-content {
    transform: scale(1.2);
  }
  .scribble {
    transform: scale(1.2);
  }
  .about-me {
    padding: 200px;
  }
  .about-me-header {
    font-size: 2rem;
  }
  .line {
    width: 135px;
  }
  .about-me-text {
    font-size: 1.2rem;
  }
  .languages-i-speak {
    padding: 80px;
  }
  .languages-card {
    padding: 90px 100px;
  }

  .contact {
    padding-bottom: 150px;
  }
}
